@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #100E1D;
    min-height: 100vh;
    color: #E7E7EB;
    font-family: 'Raleway', sans-serif;
    position: relative;
    
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #100E1D;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;

}
.loader i{
    animation: spinner 2s infinite;
}

@keyframes spinner {
    100%{
        transform: rotate(360deg);
    }
}
img{
    display: block;
    width: 100%;
}
.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 14, 29, .95);
    z-index: 1;
    padding: 0 2rem;
    font-size: 1.1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.info button{
    margin: 1rem 0;
    padding: 0 .6rem ;
    background: #6E707A;
}
.main-info{
    background:rgb(30, 33, 58);
    padding: 1.1rem .9rem 2.5rem .9rem;
    text-align: center;
    position: relative;
    
}

.search-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.search{
    background: #6E707A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    width: 11rem;
    height: 3rem; 
    
  
   
}
.location{
    width: 3rem;
    height: 3rem;
    background: rgba(110, 112, 122, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
   
}

button, input{
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
    padding: .9rem 1.1rem;
  
    
}

button{
    cursor: pointer;
}
form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:#1E213A;
    padding: 4rem .9rem 6.5rem .9rem;
    display: none;    
   
   
}
.show-form form{
    display: flex;
    justify-content: space-between;
}

.show-form  #toggle-form{
    position:absolute;
    z-index: 2;
    top: 1rem;
    right: 0;
    width: max-content;
    height: auto;
}
form input, form button{
    display: block;
    width: 66%;
    height:max-content;
    background: rgba(110, 112, 122, 0.3);
    
    margin-right: .5rem;
    
}
form input::placeholder{
    color: #A09FB1;
    font-family: inherit;
}
form button{
    width: 30%;
    background: #3C47E9;
    margin-right:0 ;
}
.main-time-img{
    margin: 2.75rem -.9rem -1rem -.9rem;
    position: relative;
    padding: 2rem 0;
    
 
   
}
.main-time-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    pointer-events: none;
    background: top no-repeat url('/images/cloud-background.png');
    
   
}
.main-time-img .img{
    width: 9.4rem;
    margin: 0 auto;
    transform: translateX(-1rem);
}
.main-temperature {
    
    font-size: 3rem;
    padding: 0 0 1.4rem 0;

        
    
}
.main-temperature span{
    font-weight: 500;
    font-size: 9rem;
    color: #E7E7EB;
}

.main-temperature-description{
   
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.4;
    color: #A09FB1;
}

.today{
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    color: #88869D;
    margin: 2rem 0;
}

.today span{
    display: inline-block;
    margin: 0 .2rem;
}

.city{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #88869D;
}
.city span{
    display: inline-block;
    margin: .3rem;
}

.weekend {
    display: grid;
    grid-template: repeat(3, 11rem) / repeat(2,  7.5rem);
    gap: 1.6rem;
    margin: 3.25rem 0;
    justify-content: center;
}
.weekend div{
    background: #1E213A;
    
}

.hightlights{
    margin: 0 1.3rem;
   
}
.hightlights h1{
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.75rem 0;
    margin-left:1rem ;
}



.hightlights .content div{
    width: calc(100% - 1.75rem);
    height:  13.75rem;
    margin: 1.6rem auto;
    background: #1E213A;
    
}

@media only screen and (min-width : 1225px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        display: grid;
        grid-template: 64rem / 28.7rem auto;
        align-items: center;
        justify-content: center;
        gap: 5%;
        width: 100%;
    }
    .main-time-img{
        margin: 2.75rem -.9rem -0.5rem -.9rem;
     
    }
    .main-temperature-description div:first-child{
    
        margin: 2rem 0;
    }
    .secondary-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .weekend {
        display: grid;
        grid-template: repeat(1, 11rem ) / repeat(5,  7.5rem);
        gap: 1.6rem;
        margin:  0;
        
        
        
    }

    .hightlights{
        margin: 0 ;
       
    }
    .hightlights h1{
       
        margin-left:0;
    }
    .hightlights .content{
        display: grid;
        grid-template: repeat(2, 12.75rem) / repeat(2,  20.5rem);
        gap: 3rem;    
    }
    .hightlights .content div{
        width: auto;
        height:  auto;
        margin: 0;
        padding: 0;
        background: #1E213A;
      
    }
}